.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #ee6e73;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}

.cart-dec{
    color: white;
    font-size: 20px;
    background-attachment: fixed;
    
}

.add-img{
    height: 30px;
}
.navbar-ul li{
display: inline;
margin: 10px;
font-size: 25px;


}
.black{
    color:white;

}
.black:hover{
    color:red;
    transition: color 1s;
    text-decoration: none;

}
.black:active{
    color: black;
    text-decoration: none;
}
.material-icons{
    color: red;
    margin: 20px;
    text-decoration: none;
}

.navbar{
    background-color: #000000;
    height: 80px;
}
.cart{
    color: black;
}
.balanciaga{
    width: 5px;
}
.img-height{
    height: 200px;
width: 340px;
}
.cart-price{
color: #A4A4A4;}
.card .card-image .card-title{
    color: red;
    font-weight: 700;
    font-size: 30px;
}
.item-desc{
    color: white;
}

.home_title{
    font-size: 50px;
    color:whitesmoke;
}
.card-price{
    color: green;
}
.cart-order{
    color: rgb(190, 233, 0);
}
.cart-orders{
    font-size: 50px;
    color:orange;
}
body{
    background-color: #333;
}
.content{
    display: flex;
    flex-wrap: wrap;
  
}
.main{
    flex: 3 60rem;
}
.sidebar{
    flex: 1 20rem;
}
/*products*/
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.products li{
    flex: 1 1 29rem;
    height: 47rem;
    padding: 1rem;
    margin: 1rem;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product img{
    max-width: 37rem;
    max-height: 37rem;
}.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price div,
.product-price button{
    text-align: center;
    flex: 1;
}
.product-price div{
    font-size: 2rem;
}
button{
    padding: 1rem;
    border: .1rem #c0c0c0 solid;
    background-color:#ffffff;
    cursor: pointer;
}
.button:hover{
    border: .1rem #c8c8c8 solid;
}
.button-primary{
    background-color: #ffc000;
}
body,
input,
select,
button,
textarea{
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}